body {
  background-color: black;
  background-image: url('designmanifesto-img.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}
.poem {
  margin: 100px auto;
  overflow-y: scroll;
  overflow-x: scroll;
  text-align: center;
}
.poem p {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 25px;
  color: white;
}
.poem p.big { font-size: 40px; }
.poem p.bigger { font-size: 60px; }
.poem p.small { font-size: 15px; }
.poem p.bold { font-weight: bold; }
.poem p.left { 
  text-align: left; 
  left-margin: 20px; 
}
.poem p. right {
  text-align: right; 
  right-margin: 20px; 
}
hr {
  border: none;
  height: 100px;
  width: cover;
  background-color: transparent;
}
