body {
  background-color: black
  background-image: url('designmanifesto-img.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
}
.poem {
  margin: 100px auto;
  overflow-y: scroll
  text-align: center;
}
.poem p {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 30px;
  color: white;
}
.poem p.big {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 50px;
}
.poem p.small {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 18px;
}
.poem p.bold {
  font-weight: bold;
}
