body {
  background-image: url('designmanifesto-img.jpg');
  background-size: 80% auto;
  background-position: center;
  font-family: Arial, sans-serif;
}
.poem {
  width: 400px;
  margin: 100px auto;
  text-align: center;
}
.poem p {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 30px
}
.poem p.big {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 50px
}
.poem p.small {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 15px
}
