/* styles.css */
html {
	background: #2A7B9B;
	background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(209, 10, 193, 1) 50%, rgba(42, 117, 163, 1) 100%);
}
.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
  color: hotpink;
  font-size: 5em;
}

pre {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: white;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: white;
}

div {
	font-size: 300px;
	color: lightsalmon;
}